[submodule "B"]
	path = B
	url = https://github.com/wh1pch81n/B.git
[submodule "Bee"]
	path = Bee
	url = https://github.com/wh1pch81n/Bee.git
[submodule "A"]
	path = A
	url = https://www.github.com/wh1pch81n/A.git
